<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>WireGuardStatusbarHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WireGuardStatusbarHelper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.22</string>
	<key>CFBundleVersion</key>
	<string>34</string>
	<key>Hash</key>
	<string>303e3fef62e57d3b185e15d2fb15ab21</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "WireGuardStatusbar"</string>
	</array>
	<key>SOURCE_HASH</key>
	<string>0a2cf7044d6923ec4b35e7fe34b7b4cb</string>
</dict>
</plist>
